body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.anime-obj {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: #007bff;
  transition: transform 0.2s ease;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
}
